@{
    ViewData["Title"] = "Index";
}

<h2 id="titreRoom">Statistiques du service</h2>



@section Scripts {
    <script src="~/js/centreAppel.js"></script>

    <script>
        $(function () {
            

                
        })
    </script>
}
